.contentTask{
    margin-top:-20px;
}
nav div div{
    height: 40px;
}
.search-input{
    margin-top: 15px;
    width: 250px
}
#menu-toggle{
    display: none;
    height: 25px;
    width: 40px;
    margin-top: 10px;
}
.icon-pencil{
    float: right;
    display: none;
}
#notDoneList{
    height: 25px;
    margin-top: 20px;
    width: 110px;    
    padding-bottom: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 11px;
    float: left;
    cursor: pointer; 
}
#doneList{
    height: 25px;
    margin-top: 20px;
    width: 135px;
    padding-bottom: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 11px;
    margin-left: 110px;
    cursor: pointer; 
}
.modal-title{
    text-align: center;
}
.icon-name, .icon-name-primary{
    border-radius: 50%;
    background-color: darkcyan;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    padding-top: 7px;
    font-size: 20px;
    float: left;
}
.full-name, .full-name-primary{
    font-size: 17px;
    margin-left: 10px
}
.icon-owner{
    border-radius: 30%;
    border: 1px solid;
    border-color: darkgray;
    color: darkgray;
}
.email-name{
    clear: both;
    float: left;
    margin-left: 50px;
    margin-top: -20px
}
.modal .modal-dialog {
  width: 400px;
}
.icon-name-primary{
    width: 30px;
    height: 30px;
    padding-top: 2px;
}
.full-name-primary{
    margin-top: 4px;
    cursor: pointer;
    font-weight: 100;
}
.icon-menu, .icon-due-time{
    cursor: pointer;
}
.icon-due-time{
    margin-left: 70px
}
.addList{
    margin-top: 15px;
}
.thingToDo{
    width: 100%;
}
.sizeDate{
    width: 100px;
}
.fixInput input{
    border-radius: 0;
}
.checkTask{
    margin-left: 10px;
}
.leftSide{
    padding-top: 50px;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    height:530px;
}
.task:first-child{
    margin-top: 20px;
}
.task{
    margin-top: 5px;
}
.listTask{
    background-color: #f8f8f8;
    padding-top: 50px;
    height:530px;
}
h4{
    margin-right: 10px;
    cursor: pointer;
}

.chooseTask{
    cursor: pointer;
    height: 30px;
}
.chooseTask:hover{
    background-color: antiquewhite;
}
.search-input{
    border: 0;
    border-color: #f8f8f8;
    outline: none;
    background-color: #f8f8f8;
}
@media (max-width: 1200px){
    .search-input{
        width: 200px
    }
    .icon-due-time{
        margin-left: 20px
    }
}
@media (max-width: 990px){
    .listTask{
        display: none;
    }
    #menu-toggle{
        display: block;
        border: 0;
        border-color: #f8f8f8;
        outline: none;
        background-color: #f8f8f8;
    }
    #searchIcon, .search-input{
        display: none;
    }
}
@media (max-width: 500px){
    .thingToDo{
        width: 100%;
    }
}
#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.addNewList:hover{
    text-decoration: underline;
    cursor: pointer;
}
.rim{
    margin-top: 5px;
    border: 1px solid;
    color: darkgray
}
.scrollable-menu {
    height: auto;
    max-height: 100px;
    overflow-x: hidden;
}
.hiddenInput {
     display:none;
}
.hiddenCancel {
     display:none;
}
.createList{
    margin-top: 5px;
}
body{
    background: url(../images/background_body.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}
html{
    height: 100%;
}