.contentTask{
    margin-top:-20px;
}
nav div div{
    height: 40px;
}

.initButton{
    height: 25px;
    width: 40px;
    margin-top: 10px;
}
.thingToDo{
    width: 80%;
}
.fixInput input{
    border-radius: 0;
}
.leftSide{
    padding-top: 50px;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    height:530px;
}

.listTask{
    background-color: #f8f8f8;
    padding-top: 50px;
    height:530px;
}
input{
    width: 100%;
    border-radius: 7%;
}
h4{
    margin-right: 10px;
    cursor: pointer; 
    cursor: hand;
}

.chooseTask{
    cursor: pointer; 
    cursor: hand;
    height: 30px;
}
.chooseTask:hover{
    background-color: antiquewhite;
}

@media (max-width: 990px){
    .listTask{
        display: none;
    }
    .selectButton{
       
    }
}
@media (max-width: 590px){
    .thingToDo{
        width: 60%;
    }
}
#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.addNewList:hover{
    text-decoration: underline;
    cursor: pointer; 
    cursor: hand;
}
.rim{
    margin-top: 5px;
    border: 1px solid;
    color: dimgray
}
.scrollable-menu {
    height: auto;
    max-height: 100px;
    overflow-x: hidden;
}
.hiddenInput {
     display:none;
}
.hiddenCancel {
     display:none;
}
.createList{
    margin-top: 5px;
}
body{
    background: url(../images/background_body.jpg) no-repeat;
    background-size: cover;
}