.contentTask{
    margin-top:-20px;
}
nav div div{
    height: 40px;
}
h3 span{
    font-size: 17px
}
#closemodal, #closeeditmodal{
    width: 100px;
    margin-right: 50px;
}
#savemodal, #saveeditmodal{
    width: 100px;
    margin-right: 50px
}
#menu-toggle{
    display: none;
}

.icon-pencil{
    float: right;
}
.dueDate{
    float: right;
    color: darkcyan;
    margin-right: 30px;
}
.nav-pills{
    margin-top: 10px;
}
.nav-pills a{
    color: dimgray;
}
.listToDo{
    margin-top: 5px;
    overflow-y : auto;
    overflow-x: hidden;
    height: 300px;
}
.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    background-color:darkcyan !important;
}

.nav-pills > li:first-child{
    font-size: 11px;
    width: 110px; 
}

.nav-pills > li:not(first-child){
    font-size: 11px;
    width: 133px; 
}
.ng-pageslide {
    background-color: #eee;
}
/*** Set scrollbar ***/
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    margin-top: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: dimgray; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/*** End set scrollbar ***/

.deleteTask {
    text-decoration: line-through;
}
.nonDeleteTask{
    text-decoration: none;
}

.modal-title{
    text-align: center;
}
.icon-name-primary-menu{
    border-radius: 50%;
    background-color: darkcyan;
    width: 23px;
    height: 23px;
    text-align: center;
    color: white;
    font-size: 15px;
    float: left;
}
.icon-name, .icon-name-primary{
    border-radius: 50%;
    background-color: darkcyan;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    padding-top: 7px;
    font-size: 20px;
    float: left;
}
.icon-user{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
}
.nameSidePage1 .icon-name-primary{
    background-color: forestgreen;
}
.addList1{
    margin-top: 10px;
    margin-left: 20px
}
.collectionSmall h4{
    padding-left: 20px;
}
.collectionSmall{
    overflow-y : auto;
    overflow-x: hidden;
    height: 300px;
}
.nameSidePage1{
    padding: 13px 0px 0px 17px;
}
.full-name, .full-name-primary{
    font-size: 17px;
    margin-left: 10px;
    
}
.new-email-user{
    font-size: 17px;
    margin-left: 10px;
    padding-top: 10px;
}
.newSharingUser{
    margin-top: 25px;
}
.removeSharingUser{
    float:right;
    margin-top: 5px;
    height: 35px;
}
.icon-owner{
    border-radius: 30%;
    border: 1px solid;
    border-color: darkgray;
    color: darkgray;
}
.email-name{
    clear: both;
    float: left;
    margin-left: 50px;
    margin-top: -20px
}
.modal .modal-dialog {
  width: 400px;
}
.icon-name-primary{
    width: 30px;
    height: 30px;
    padding-top: 2px;
}
.full-name-primary{
    margin-top: 4px;
    cursor: pointer;
    font-weight: 100;
}
.icon-menu, .icon-due-time, .icon-pencil, .editModal, .icon-due-time1{
    cursor: pointer;
}
.icon-due-time1{
    float: right;
    margin-right: 20px;
    margin-top: 7px;
}
.icon-due-time{
    float:right;
    margin-top: 6px;
}
.addList{
    margin-top: 15px;
}
.thingToDo{
    width: 100%;
}
.sizeDate{
    width: 100px;
}
.fixInput input{
    border-radius: 0;
}
.nameListTaskMenu{
    margin-left: 10px;
    display:inline-block;
    width:100px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.scrollable-menu{
    max-height: 500px !important
}
.checkTask{
    margin-left: 10px;
    display:inline-block;
    width:80%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.leftSide{
    padding-top: 50px;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
    height:530px;
}
.task:first-child{
    margin-top: 20px;
}
.task{
    margin-top: 5px;    
}
.listTask{
    background-color: #f8f8f8;
    padding-top: 50px;
    height:530px;
}
h4{
    margin-right: 10px;
    cursor: pointer;
}

.closePageSlider{
    padding: 20px 30px 0px 0px;
    float: right;
    font-size: 17px;
    cursor: pointer;
    width: 10px;
    color: white
}
/*
.leftTitleSidePage{
    padding: 15px 20px 0px 0px;
    float: right;
}
*/
.nameSidePage{
    padding: 18px 0px 0px 17px;
    display:block;
    width:90%;
    word-wrap:break-word;
    font-size: 16px
}
.leftInputSidePage{
    height: 17px;
    width: 17px
}
.leftIconSidePage .form-control{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}
.contentSidePage .form-control{
    width: 95%;
    margin-top: -5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.leftIconSidePage{
    padding: 9px 0px 0px 5px;
    float: left;
    font-size: 20px;
    clear: both
}
.completeButton{
    padding: 9px 0px 0px 5px;
    float: left;
    font-size: 20px;
    clear: both;
    width: 150px;
    text-align: center;
    cursor: pointer;
}
.saveButton{
    width: 180px;
    margin-top: -13px;
    margin-left: 130px;
    padding: 15px 0px 0px 40px;
    text-align: center;
    cursor: pointer;
}

.spanIcon{
    background: white;
    height: 35px;
    width: 30px
}
.titleSidePage{
    background: darkcyan;
    min-height: 50px;
    height: auto;
    color: white
}
.timeSidePage, .remindSidePage{
    height: 50px;
}
.contentSidePage{
    padding: 15px 0px 0px 40px;
}
.remindSidePage .contentSidePage{
    margin-top: -6px;
}

.collections{
    overflow-y : auto;
    overflow-x: hidden;
    height: 350px;
    margin-top: 5px
}
.chooseTask{
    cursor: pointer;
    height: 35px;
    font-weight: bolder;
}
.chooseTask:hover{
    background-color: darkseagreen;
}
.search-input{
    margin-top: 15px;
    width:  250px;
    border-color: #f8f8f8;
    outline: none;
    background-color: white;
}
@media (max-width: 1200px){
    .search-input{
        width: 200px
    }
    .icon-due-time{
        margin-left: 20px
    }
    .checkTask{
        width: 75%
    }
}
/*
@media (max-width: 1024px){
    
}
*/
@media (max-width: 990px){
    .listTask{
        display: none;
    }
    #menu-toggle{
        display: block;
        height: 25px;
        margin-top: 10px;
        height: 25px;
        margin-top: 10px;
        display: block;
        border: 0;
        border-color: #f8f8f8;
        outline: none;
        background-color: #f8f8f8;
    }
    #searchIcon, .search-input{
        display: none;
    }
}
@media (max-width: 768px){
    #menu-toggle{
        display: none;
    }
}
@media (max-width: 650px){
    .checkTask{
        width: 65%
    }
}
@media (max-width: 500px){
    .thingToDo{
        width: 100%;
    }
    .checkTask{
        width: 60%
    }
}
@media (max-width: 450px){
    .checkTask{
        width: 50%
    }
}
@media (max-width: 350px){
    .checkTask{
        width: 35%
    }
}
@media (max-width: 290px){
    .nav-pills > li:first-child{
        width: 43%; 
    }

    .nav-pills > li:not(first-child){
        width: 55%; 
    }
    .checkTask{
        width: 30%
    }
}
#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
    background: url(../images/background_wrapper.jpg) no-repeat;
    background-size: cover;
}
#pageslide{
    background: url(../images/background_pageslider.jpg) no-repeat;
    background-size: cover;
}
.hidePageSlider{
    width: 0px;
    display: none
}

.addNewList:hover{
    text-decoration: underline;
    cursor: pointer;
}
.rim{
    margin-top: 5px;
    border: 1px solid;
    color: darkgray
}
.scrollable-menu {
    height: auto;
    max-height: 100px;
    overflow-x: hidden;
}
.hiddenInput {
     display:none;
}
.hiddenCancel {
     display:none;
}
.createList{
    margin-top: 5px;
}
span.button {
/*
    background-color: darkcyan;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    cursor: pointer;
    margin-left: 8px;
*/
    cursor: pointer;
    margin-left: 17px;
}
span.button span{
    margin-right: 10px;
    margin-top: 5px;
}

body{
    background: url(../images/background_main.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}
@media (max-height: 700px) and (min-width:323px){
    .leftSide, .listTask{
        height: 550px;
    }
}
@media (max-height: 780px) and (max-width:436px){
    .leftSide, .listTask{
        height: 730px;
    }
}
@media (min-height: 1023px) and (max-width: 1025px){
    .leftSide, .listTask{
        height: 950px;
    }
}
@media (min-height: 750px) and (min-width: 1023px){
    .leftSide, .listTask{
        height: 650px;
    }
}
@media (max-height: 650px) and (min-width: 1023px){
    body{
        height: 750px;
    }
}
/*
@media (min-height: 580px) and (max-width: 980px){
    .leftSide, .listTask{
        height: 850px;
    }
}
*/
html{
    height: 100%;
}