<!DOCTYPE html>
<html lang="en" ng-app="tasks">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <!-- Bootstrap -->
        <link href="../css/library/bootstrap.min.css" rel="stylesheet">
        <link href="../css/login.css" rel="stylesheet">
        <!-- HTML5 SHim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js does't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
<!--        <base href="file:///C:/Users/Win7x86/Desktop/Final_Assignment/html/">-->
    </head>
    <body ng-controller="TasksController">
        <div class="container">
            <div class="card card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="../images/avatar_login.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text" id="inputEmail" class="form-control" placeholder="Email address" ng-model="userId" required autofocus>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="userPass" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="loginCheck()">Sign in</button>
                </form><!-- /form -->
                <a href="#" class="forgot-password">
                    Forgot the password?
                </a>
            </div><!-- /card-container -->
        </div><!-- /container -->
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../js/library/bootstrap.min.js"></script>
        <script src="../js/library/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.0.3/angular-resource.min.js"></script>
        <script src="../js/library/angular-pageslide-directive.js"></script>
        <script src="../js/library/angular-route.js"></script>
        <script src="../js/library/angular-ui-router.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>