        
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                      
                    <div class="navbar-header col-md-8" ng-controller="pageslideCtrl">                       
                        
                        <!--   Page Slider Left       -->
                        <div class="hidePageSlider">
                            <div pageslide ps-open="$root.checkedleft" ps-side="left" ps-key-listener="true" id="pageslide" ps-size="320px">
                                 <div class="sidePage">
                                    <span ng-click="toggle($root.listTasks[$root.valueIndex].contentTask[a.indexTask].taskId,'left')" class="closePageSlider">
                                            <span class="glyphicon glyphicon-remove"></span>
                                    </span>
                                    <div class="titleSidePage">
                                        <div class="nameSidePage1">
                                            <label class="icon-name-primary">{{firstNameLetter}}</label>
                                            <label class="full-name-primary" ng-click="synx()">{{fullName}}</label>
                                            <div class="btn-group">
                                                <span class="dropdown-toggle" data-toggle="dropdown">
                                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                                </span>
                                                <ul class=" dropdown-menu" role="menu">
                                                    <li><a ng-click="outToClose()">Sign out</a></li>
                                                </ul>
                                            </div>
                                            <span class="glyphicon glyphicon-bell icon-due-time1" uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-placement="bottom"></span>
                                            <span class="popUp2">{{numberPopup}}</span>
                                        </div>
                                    </div>
                                     <div class="addList1">
                                        <h4 ng-click="openAdd()" class="glyphicon glyphicon-plus"></h4> 
                                        <span ng-click="openAdd()" class="addNewList">Add List</span>
                                    </div>
                                    <div class="rim"></div>
                                    
                                    <div class="collectionSmall">
                                        <collection></collection>
                                    </div>      
                                 </div>                                                 
                            </div>
                        </div>
                        <!--                    -->
                            
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="toggle($root.listTasks[$root.valueIndex].contentTask[a.indexTask].taskId,'left')">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a class="navbar-brand">TASKS</a>
                    </div>
                    <div class="col-md-4" ng-controller="pageslideCtrl">
                        
                        <ul class="nav navbar-nav navbar-right selectButton">
                            <li>
                                <button id="menu-toggle" class="glyphicon glyphicon-menu-hamburger" ng-click="toggle($root.listTasks[$root.valueIndex].contentTask[a.indexTask].taskId,'left')"></button>
                            </li>
                        </ul>
                    </div>           
                </div>
            </div>
        </nav>
        <div class="container contentTask" >
            <div class="row">
                <div class="col-md-9 leftSide">
                    <div>
                        <div>
                            <h3>
                                {{$root.listTasks[$root.valueIndex].nameListTask}} 
                                <span class="glyphicon glyphicon-pencil editModal" ng-click="openEdit()"></span>
                            </h3>
                            
                            <form>
                                <table>
                                    <tr class="fixInput">
                                        <td class="thingToDo">
                                            <input type="text" class="form-control" placeholder="Add your task" ng-enter="addTask($root.valueIndex)" ng-model="a.itemNameTask">
                                        </td>
                                        <td class="input-group date sizeDate">
                                            <input type="text" class="form-control input-group-addon" placeholder="Set time" ng-model="a.itemDueDate" datepicker>
                                          
                                        </td>
                                    </tr>
                                </table>                        
                            </form>
                        </div>
                    </div>
                    
                    <ul class="nav nav-pills">
                      <li  ng-class="{'active': view_tab == 'tabInprogress'}" ng-click="inProgressTask('tabInprogress')"><a href="#/html/to_do_page">TASKS TO-DO</a></li>
                      <li ng-class="{'active': view_tab == 'tabDone'}" ng-click="completedTask('tabDone')"><a href="#/html/to_do_page">COMPLETED TASK</a></li>
                    </ul>
                    
                    <!--   Directive listItem      -->
                    <div class="row">
                        <div class="col-md-12 listToDo">
                            <div>
                                <listitem></listitem>                                
                            </div>
                        </div>
                    </div>  
                    <!--                    -->
                  
                    <!--   Modal Add List Task     -->
                    <script type="text/ng-template" id="myModalAdd.html">
                        <div class="modal-header">
                            <h4 class="modal-title">Add New List</h4>
                        </div>
                        <div class="modal-body">

                                <div class="form-group">
                                    <input type="text" class="form-control" id="list-name" placeholder="List Name" ng-model="itemName" name="list-name">
                                </div>
                                <div class="form-group">
                                    <label for="member-name" class="control-label">List Member</label>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <input type="text" class="form-control" id="member-name">
                                </div>
                                <div class="form-group">
                                    <label class="control-label icon-name">{{$root.firstNameLetter}}</label>
                                    <label class="control-label full-name">{{$root.fullName}}</label>
                                    <label class="control-label icon-owner">Owner</label>
                                    <span class="control-span email-name">{{$root.idUser}}</span>
                                </div>
<!--
                                <div class="form-group newSharingUser">
                                    <img class="control-label icon-user" src="../images/avatar_login.png">
                                    <label class="control-label new-email-user">{{fullName}}</label>
                                    <button class="btn removeSharingUser">Remove</button>
                                </div>
disabled="disabled"
-->

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="closemodal" ng-click="cancel()">Close</button>
                            <button type="button" class="btn btn-primary" id="savemodal" ng-click="addList()">Save</button>
                        </div>
                    </script>
                    <!--                    -->
                    
                    <!--   Modal Edit List Task     -->
                    <script type="text/ng-template" id="myModalEdit.html">
                        <div class="modal-header">
                            <h4 class="modal-title">Add New List</h4>
                        </div>
                        <div class="modal-body">

                                <div class="form-group">
                                    <input type="text" class="form-control" id="list-name-edit" placeholder="List Name" ng-model="editName" name="list-name-edit">
                                </div>
                                <div class="form-group">
                                    <label for="member-name" class="control-label">List Member</label>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <input type="text" class="form-control" id="member-name">
                                </div>
                                <div class="form-group">
                                    <label class="control-label icon-name">{{$root.firstNameLetter}}</label>
                                    <label class="control-label full-name">{{$root.fullName}}</label>
                                    <label class="control-label icon-owner">Owner</label>
                                    <span class="control-span email-name">{{$root.idUser}}</span>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="closeeditmodal" ng-click="cancel()">Close</button>
                            <button type="button" class="btn btn-primary" id="saveeditmodal" ng-click="editList()">Done</button>
                        </div>
                    </script>
                    <!--                    -->
                    
                
                    <!--  Template popup reminder              -->
                    <script type="text/ng-template" id="myPopoverTemplate.html">
                       
                        <div class="groupReminder form-group">
                          
<!--                          <input type="text" ng-model="dynamicPopover.title" class="form-control">-->
                            <div class="reminderItem form-input" ng-repeat="i in listReminder">
                                <div>Reminder:</div>
                                <div class="nameRemind">{{i.nameTask}}</div>
                                <div class="dueDayRemind">deline is {{i.dueDay}}</div>
                                <hr>
                            </div>
                        </div>
                    </script>
                    <!--                    -->
                    
                </div>
                <div class="col-md-3 listTask" id="wrapper">
                    <label class="icon-name-primary">{{firstNameLetter}}</label>
                    <label class="full-name-primary" ng-click="synx()">{{fullName}}</label>
                    <div class="btn-group">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-menu-down icon-menu"></span>
                        </span>
                        <ul class="dropdown-menu-right dropdown-menu" role="menu">
                            <li><a ng-click="signOut()">Sign out</a></li>
                        </ul>
                    </div>
                    
                    <div>
                        <div class="addList">
                            <h4 ng-click="openAdd()" class="glyphicon glyphicon-plus"></h4> 
                            <span ng-click="openAdd()" class="addNewList">Add List</span>
                            <span class="glyphicon glyphicon-bell icon-due-time" uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" popover-placement="bottom"></span>
                    <span class="popUp">{{numberPopup}}</span>
                        </div>
                        
                    </div>
                    <div class="rim"></div>
                    
                    <!--   Directive collection   -->
                    <div class="collections">
                        <collection></collection>
                    </div>
                    <!--                    -->
 
                </div>
            </div>
        </div>
      